.news-container
{
    width: 60%;
    margin-left: 20%;
    height: 100vh;
}

.news-record-container
{
    width: 100%;
    border: 1.5px solid #efe1cf;
    height: 250px;
    overflow-y: scroll;
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.news-record-header
{
    border-bottom: 1.5px solid #efe1cf;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.news-record-container:hover
{
    background-color: #efe1cf;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 1px 1px 8px #c8bcae;
}