.projects-container
{
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
}

.project-container
{
    border: 1.5px solid #efe1cf;
    height: 150px;
    padding: 7px;
    border-radius: 10px;
}

.project-header
{
    border-bottom: 1.5px solid #efe1cf;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.5em;
}

.project-container:hover
{
    background-color: #efe1cf;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 1px 1px 8px #c8bcae;
}